export(prep_kink_data)
export(raw_gamma)
export(fit_kink)
export(test_kink)
export(predict_kink)
export(coef_kink)
S3method(print,kink_fit)
S3method(print,kink_test)
importFrom(splines,bs)
importFrom(stats,quantile,rnorm,sd)
